
   .cont {
   
    position: relative;
}
   .smartmarquee{
    position: absolute;
    overflow: hidden;
    /* height:300px; */
    
}

.extra{
     position: relative;
     height: 500px;
     
   }
   .text-block{
     position: absolute;
  
     
     margin-bottom: 140px;
     bottom: 0;

   }
  
   @media only screen and (max-width: 600px) {
 .text-block {
top: 0;
margin-top: 30px;
 }
}
@media only screen and (max-width: 600px) {
.divider{
  padding-top: 300px;
}
.space{
  display: none;
}
.hatpic{
  display: flex;
  align-items: center;
}
}
@media only screen and (max-width:900px) {
  .hatpic{
display: none;    
  }
 }
 @media only screen and (max-width:756px) {
  .hatpic{
display: block;    
  }
 }
 .background canvas {
display: block;
vertical-align: bottom;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
transition: opacity .8s ease, transform 1.4s ease
}

.background {
width: 100%;
height: 100%;
position: fixed;
z-index: -10;
top: 0;
left: 0
}

